[submodule "PLLaVa"]
	path = PLLaVa
	url = https://github.com/magic-research/PLLaVA.git
[submodule "mmaction2"]
	path = mmaction2
	url = https://github.com/open-mmlab/mmaction2.git
[submodule "Open-Sora"]
	path = Open-Sora
	url = https://github.com/hpcaitech/Open-Sora.git
