Datasets/*
!Datasets/*.py
!Datasets/*.sh
LLM
samples
log
temp*
huggingface_download/
checkpoints
MotionLLM/litgpt
weights
logs
Data
hfd
.vscode
*.tar
*.zip
*.tar.gz

file_scan_output/*.csv
file_scan_output/scan

scripts/*.txt
scripts/*.log
scripts/*.csv